{% extends 'base.html.twig' %}

{% form_theme formArticle 'bootstrap_4_layout.html.twig' %}

{% block body %}

    <h1>Creation d'un article</h1>
    
    {% if formArticle is defined %}
    
       {{ form_start(formArticle) }}
        {{ form_errors(formArticle.title) }}
        {{ form_row(formArticle.title, {'attr': {"placeholder": "Titre de l'article"}}) }}
        {{ form_row(formArticle.content, {'attr': {'placeholder': "Contenu de l'article"}})  }}
        {{ form_row(formArticle.image, {'attr': {'placeholder': "Image de l'article"}}) }}
        <br>
        {% if editMode %} 
            <button type="submit" class="btn btn-primary">Editer</button>
        {% else %}
            <button type="submit" class="btn btn-success">Ajouter l'article</button>
        {% endif %}
       {{ form_end(formArticle) }}

    {% endif %}        
  
{% endblock %}